---
title: CV
layout: default
---

<section id="cv">

{% include bio.html %}

<h3>Research Interests</h3>

<p>High performance computing, data analysis and interpretation dynamical state of galaxy clusters, large-scale structure, cosmological simulations, hydrodynamic simulations, Sunyaev-Zeldovich Effect, high-energy astrophysics, X-ray observations, galaxy formation and evolution, gravitational lensing</p>

<h3>Research Experience</h3>

<ul class="experience">
<li>
    <div class="year">2009 - 2015</div>
    <h4>Astrophysics PhD Candidate, <span class="unbold">Yale University, New Haven, Connecticut</span></h4>
    <p><em>Prof. Daisuke Nagai</em></p>
    <p>Utilizing cosmological, hydrodynamic simulations to study the effects of dynamical state on galaxy cluster properties and our ability to accurately measure them. Research responsibilities include the design, execution and management of large-scale simulations on high performance computers at Yale (>10 million CPU hours, ~petabyte data generated). Development of Python, SQLite and C data analysis pipelines used throughout extended research group. Extensive experience in written and oral communication through research publications, teaching, and conferences. Additional responsibilities include project development/management and mentoring of undergraduate and junior graduate students. </p>
    <p>Developer for and user of astrophysics software <a href="https://bitbucket.org/cartamr/cart">CART</a> and <a href="http://yt-project.org/">yt</a>.</p>
</li>
<li>
    <div class="year">2008 - 2009</div>
    <h4>Senior Scholars Program, <span class="unbold">Colby College, Waterville, Maine</span></h4>
    <p><em>Prof. Murray Campbell</em></p>
    <p>Participated in Colby College Senior Scholars Program, in which half of the participating senior’s course load is devoted a major research project. The first part of this project comprised of independent study of star formation theory, for both high and low mass stars. In addition, the project consisted of extensive modeling of an HMPO using the Whitney Monte Carlo radiative transfer modeling code. The project culminated in a thesis containing the research and an explanation of the theory and modeling directed at a sophomore level reader preparing to do similar research.  An hour-long lecture was also required for completion of the program. </p>
</li>
<li>
    <div class="year">Summer 2008</div>
    <h4>REU Intern, <span class="unbold">Smithsonian Astronomical Observatory, Cambridge, Massachusetts</span></h4>
    <p><em>Dr. Ewan O’Sullivan</em></p>
    <p>Researching as intern for 10-weeks during the summer. The project was the construction of a statistically complete catalog of 26 normal elliptical galaxies. Main responsibilities included data reduction and data analysis for 5 of the systems as well as researching published data for the rest of the catalog. Internship culminated in a 13-page Astrophysical Journal style research paper and at a15-minute presentation at an end of the summer colloquium. The results were also presented as a poster at the January 2009 AAS Meeting.</p>
</li>
<li>
    <div class="year">2007 – 2008</div>
    <h4>Research Assistant, <span class="unbold">Colby College Physics Department, Waterville, Maine</span></h4>
    <p><em>Prof. Murray Campbell</em></p>
    <p>Studied mid-infrared photometry and built models using IDL to describe the gas and dust surrounding high mass protostellar candidates using the Whitney Monte Carlo radiative transfer modeling code.</p>
</li>
</ul>

<h3>Publications</h3>

<h4>Primary Author Publications</h4>

<ol>
    {% for paper in site.data.works.entries %}
      {% if paper[1].author[0].first == 'Kaylea' or paper[1].author[0].first == 'Liang' %}
            {% include citation.html paper=paper %}
       {% endif %}
    {% endfor %}
</ol>

<h4>Contributing Author Publications</h4>

<ol start="5">
    {% for paper in site.data.works.entries %}
      {% if paper[1].author[0].first != 'Kaylea' and paper[1].author[0].first != 'Liang' %}
            {% include citation.html paper=paper %}
       {% endif %}
    {% endfor %}
</ol>


<h3>Technical Skills</h3>
<ul>
    <li>Computation: high performance computers and parallel programming</li>
    <li>Astrophysics Software: developer for and user of <a href="https://bitbucket.org/cartamr/cart">ART II</a> and <a href="http://yt-project.org/">yt</a></li>
    <li>Programming Languages: Python, C, Perl, IDL, Fortran, R</li>
    <li>Web Development: HTML, CSS/LESS, JavaScript, Flask, PHP, SQL</li>
</ul>

<h3>Professional Activities</h3>
<ul>
    <li>Referee for <em>The Astrophysical Journal</em> and <em>Astronomy &amp; Astrophysics</em></li>
    <li>Junior Member of American Astronomical Society</li>
</ul>


<h3>Conferences and Talks</h3>

<ul>
    {% for presentation in site.data.presentations %}
      <li>{{ presentation.type }}, <cite>{{ presentation.title }}</cite>, {{ presentation.venue }},
          {{ presentation.location }}, {{ presentation.date }}</li>
    {% endfor %}
</ul>


<h3>Workshops & Schools</h3>

<ul>
    {% for workshop in site.data.workshops %}
      <li> {{ workshop.title }}, {{ workshop.location }}, {{ workshop.date }}</li>
    {% endfor %}
</ul>


<h3>Mentoring</h3>
<ul>
    <li>Sarah Benjamin, PhD Student, Yale, 2014-2015<br />
        <cite>Impact of Minor Mergers on Non-thermal Pressure in Galaxy Clusters</cite>
    </li>
    <li>Tonima Tasnim Ananna, PhD Student, Yale, 2014<br />
        <cite>Effects of Mass and Peak Height on Non-thermal Pressure in Galaxy Clusters</cite>
    </li>
    <li>Liang Yu, Undergraduate, Yale '14, 2012-2015<br />
        Senior Thesis: <cite>Evolution of SZ Scaling Relations of Galaxy Clusters</cite>
    </li>
    <li>Frank Thompson, Undergraduate, Yale '11, 2010-2011<br />
        Senior Thesis: <cite>Evolution of Hydrostatic Mass Bias in Galaxy Groups</cite>
    </li>
</ul>

<h3>Teaching</h3>
<ul class="teaching">
    <li><cite>Planets and Stars</cite> at Yale University, Fall 2012 (Teaching Assistant)</li>
    <li><cite>Galaxies and Cosmology</cite> at Yale University, Fall 2011 (Teaching Assistant)</li>
    <li><cite>Frontiers of Astrophysics</cite> at Yale University, Fall 2010 (Teaching Assistant)</li>
    <li><cite>Planets and Stars</cite> at Yale University, Spring 2010 (Teaching Assistant)</li>
    <li><cite>Galaxies and the Universe</cite> at Yale University, Fall 2009 (Teaching Assistant)</li>

</ul>

</section>