<h2>Katherine "Kaylea" Nelson</h2>
<div class="address">
    <div class="right">(203) 436-9546<br />
        kaylea.nelson@yale.edu<br />
        <a href="http://kayleanelson.com" style="display:none">kayleanelson.com</a>
    </div>

<p>Yale Center for Research Computing, Yale University<br />
    160 St Ronan Street<br />
    New Haven, CT 06511</p>
</div>

<h3>Current Position</h3>
<ul class="position">
<div class="right">2015-present</div>
<li><b>Yale Center for Research Computing</b><br/>
Yale University, New Haven, Connecticut<br />
Senior Computational Research Support Analyst</li>
</ul>

<h3>Education</h3>

<ul class="education">

    <div class="right">Ph.D. 2015<br />
    </div>
    <li><b>Yale University</b>, New Haven, Connecticut<br />
    Advisor: Daisuke Nagai<br />
    Thesis: "Effects of Mergers and Dynamical State on Galaxy Clusters in Cosmological Simulations"</li>

    <div class="right">M.Phil. 2012</div>
    <li><b>Yale University</b>, New Haven, Connecticut</li>

    <div class="right">M.S. 2011</div>
    <li><b>Yale University</b>, New Haven, Connecticut</li>


    <div class="right">B.A. 2009</div>
    <li><b>Colby College</b>, Waterville, Maine<br />
    Physics and Astronomy, Mathematical Sciences<br />
    <em>Summa Cum Laude, Phi Beta Kappa, S.S. & I.M.F Marsden Prize in Earth Sciences</em></li>

<div style="display:none">
    <div class="right">Diploma 2004</div>
    <li><b>Phillips Academy</b>, Andover, Massachusetts</li>
</div>
</ul>