<nav>

    <ul class="nav-item" id="astro">
        <li><a href="research">research</a></li>
        <li><a href="cv">cv</a></li>
        <li><a href="http://bit.ly/WfpEC3">ads</a></li>
    </ul>

    <ul class="nav-item" id="dev">
        <li><a href="http://research.computing.yale.edu/">ycrc</a></li>
        <li><a href="https://github.com/kayleanelson">github</a></li>
        <li><a href="https://bitbucket.org/kayleanelson">bitbucket</a></li>
    </ul>

    <ul class="nav-item" id="person">
        <li><a href="/">home</a></li>
        <li><a href="https://plus.google.com/103267220422834021736/about">plus</a></li>
        <li><a href="http://www.linkedin.com/pub/kaylea-nelson/61/985/802">linkedin</a></li>
        <li><a href="http://www.last.fm/user/kayleamouse">music</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</nav>
