<nav>

    <ul class="nav-item" id="yale">
        <li><a href="/">home</a></li>
        <li><a href="http://research.computing.yale.edu/">ycrc</a></li>
        <li><a href="http://docs.ycrc.yale.edu/">docs</a></li>
        <li><a href="https://arxiv.org/search/?query=kaylea+nelson&searchtype=author&source=header">research</a></li>
    </ul>

    <ul class="nav-item" id="rcd">
        <li><a href="/">home</a></li>
        <li><a href="https://careers-ct.cyberinfrastructure.org/">careers cyberteam</a></li>
        <li><a href="https://womeninhpc.org/">whpc:northeast</a></li>
        <li><a href="https://carcc.org/">carcc</a></li>
    </ul>

    <ul class="nav-item" id="about">
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="http://www.linkedin.com/pub/kaylea-nelson/61/985/802">linkedin</a></li>
        <li><a href="https://github.com/kayleanelson">github</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</nav>
